body {
    text-align: center;
}

.dropdownChoice {
    justify-content: center;
    display: flex;
}

#guesses {
    display: flex;
    flex-direction: column-reverse;

    border: 2px solid black;
    border-radius: 5px;
}

.guess {
    border: 2px solid black;
}

.guess:hover {
    background-color: lightgray;
}

.success {
    background-color: green;
}

.closeHit {
    background-color: yellow;
}

.fail {
    background-color: red;
}