body {
    text-align: center;
}

.dropdownChoice {
    justify-content: center;
    display: flex;
}

#guesses {
    display: flex;
    flex-direction: column-reverse;

    border: 1px solid black;
    border-radius: 5px;
}

#dropdown {
    border: 1px solid black;
    align-self: center;
}

#search_bar {
    width: 50%;
}

.guess {
    border: 1px solid black;
}

.selectionOption:hover {
    background-color: lightgray;
}

.success {
    background-color: green;
}

.closeHit {
    background-color: yellow;
}

.fail {
    background-color: red;
}